.video-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0px;
}

.panel-wrapper {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: auto;
  flex-wrap: wrap;
}

.video-label {
  text-align: center;
}

.label-wrapper {
  display: flex;
  justify-content:  space-between;
  margin-bottom: 0.1em;
}
