__pycache__/
node_modules/
.ipynb_checkpoints/

#exclude some type
*.csv
*.pyc
*Untitled*

#exclude some file
index.html
nohup.out

data/*
!data/MIT_data
data/MIT_data/*
!data/MIT_data/test_index.csv
!data/MIT_data/train_index.csv

